{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<h3>{{title}}</h3>

<p>Total: {{DATA|length}}</p>

<table class="table table-striped">
    <tr>
        {% for title in Titles %}
        <th>{{title}}</th>
        {% endfor %}
    </tr>
    {% for item in DATA %}
    <tr>
        <td>{{item.id|default(loop.index, true)}}</td>
        <td>{{item.identity|default('', true)}}</td>
        <td>{{item.from_dispname|default('', true)}}</td>
        <td>{{item.body_xml|default('', true)|safe|nl2br}}</td>
        <td>{{item.chatmsg_status|default('', true)}}</td>
        <td>{{item.type|default('', true)}}</td>
        <td>{{item.timestamp|default('', true)}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}