<style>
    body, table, td, tr, th {
        font-family: Vernada, Arial, sans-serif;
        font-size: 0.75rem;
    }

    p {
        margin: 0;
    }

    .table {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: show;
        border: 1px solid #cbcbcb;
    }

    .table caption {
        color: #000;
        font: italic 85%/1 arial, sans-serif;
        padding: 1em 0;
        text-align: center;
    }

    .table td,
    .table th {
        border-left: 1px solid #cbcbcb;/*  inner column border */
        border-width: 0 0 0 1px;
        font-size: inherit;
        margin: 0;
        overflow: visible; /*to make ths where the title is really long work*/
        padding: 0.5em 1em; /* cell padding */
    }

    .table td:first-child,
    .table th:first-child {
        border-left-width: 0;
    }

    .table thead {
        background-color: #e0e0e0;
        color: #000;
        text-align: left;
        vertical-align: bottom;
    }

    .table td {
        background-color: transparent;
    }
    .table th {
        background-color: #72A0C1;
    }

    .table-odd td {
        background-color: #f2f2f2;
    }

    .table-striped tr:nth-child(2n-1) td {
        background-color: #f2f2f2;
    }

    .table td {
        border-bottom: 1px solid #cbcbcb;
    }
    .table tbody > tr:last-child > td {
        border-bottom-width: 0;
    }
</style>