{% extends 'base.html' %}

{% block title %}{{title}}{% endblock title %}

{% block content %}

<h3>{{title}}</h3>

<p>Total: {{DATA|length}}</p>

<table class="table table-striped">
    <tr>
        {% for title in Titles %}
        <th>{{title}}</th>
        {% endfor %}
    </tr>
    {% for item in DATA %}
    <tr>
        <td nowrap="nowrap">{{item._id|default(loop.index, true)}}</td>
        <td nowrap="nowrap">{{item.display_name|default('', true)}}</td>
        <td nowrap="nowrap">{{item.number|default('', true)}}</td>
        <td nowrap="nowrap">{{item.starred|default('', true)}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}